__pycache__/
.idea/
.coverage
.venv/
charcountpy.egg-info/
venv/
.env/
db.sqlite3
*.pyc
__pycache__/
*.log
.idea/
*.env
*.bak
media/
static/**
insta/static/**
staticfiles/**
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
/staticfiles/