<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Form</title>
  {% load static %}
  <link href="{% static 'styles.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <!-- Подключение скрипта Flatpickr -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
  <div class="wrapper">
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

    <div class="input-field">
      <label for = "id_first_name">First Name:</label>
      {{ form.first_name }}
      {% if form.first_name.errors %}
        <ul>
          {% for error in form.first_name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="input-field">
      <label for = "id_last_name">Last Name:</label>
      {{ form.last_name }}
      {% if form.last_name.errors %}
        <ul>
          {% for error in form.last_name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="input-field">
      <label for = "id_gender">Gender:</label>
      {{ form.gender }}
      {% if form.gender.errors %}
        <ul>
          {% for error in form.gender.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <br></br>
    </div>

    <div class="input-field">
      <label for = "id_avatar">Avatar:</label>
      {{ form.avatar }}
      {% if form.avatar.errors %}
        <ul>
          {% for error in form.avatar.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <br></br>
    </div>

      <div class="input-field">
      <label for = "id_bio">Bio:</label>
      {{ form.bio }}
      {% if form.bio.errors %}
        <ul>
          {% for error in form.bio.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div>
    <label for="id_birth_date">Birth date:</label>
    <input type="date" name="birth_date" id="id_birth_date" value="{{ form.birth_date.value }}">
      {% if form.birth_date.errors %}
        <ul>
          {% for error in form.birth_date.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <button type = "submit">Save changes</button>
  </form>

  </div>
</body>
</html>
