{% extends 'myapp/base.html' %}

{% block title%}Feed{% endblock %}

{% block extra_css%}
    {% load static %}
    <link href="{% static 'feed.css' %}" rel="stylesheet">
{% endblock %}

{% block navigation %}

  <li><button class="white-btn" onclick="location.href='/profile3'">PROFILE</button></li>

{% endblock %}

{% block content %}

<div class="feed_wrapper">
  <div class="feed_post_container">
      {% for post in posts %}
          <div class="post">
              <div class="post-author">
                  <a href="/profile3/{{ post.author.username }}" class="author-avatar">
                      <img src="{{ post.author.profile.avatar.url|default:'/static/images/default-avatar.png' }}" alt="Author Avatar">
                  </a>
                  <a href="/profile3/{{ post.author.username }}" class="author-name">{{ post.author.username }}</a>
              </div>
              <p>{{ post.text }}</p>
            {% if post.images.all %}

            {% for image in post.images.all %}
                <img src="{{ image.image.url }}" alt="Post Image" />
            {% endfor %}
            {% endif %}
            <p>{{ post.created_at }}</p>
          </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
