<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'styles_home.css' %}" rel="stylesheet">
</head>
<body>
    <div class="welcome-container">
        <div class="welcome-box">
            <h1>WELCOME TO JANGOGRAMM</h1>
            <h2>Register or login:</h2>
            <br></br>
            <div class="button-container">
                <a href="{% url 'login' %}" class="login-btn">Login</a>
                <a href="{% url 'register' %}" class="register-btn">Register</a>
            </div>
        </div>
    </div>
</body>
</html>
