<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'login.css' %}" rel="stylesheet">
    {% load socialaccount %}
  </head>
  <body>
    <div class="login_wrapper">
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h2>Login</h2>
        <div class="input-field">
          <label>Enter your username</label>
          {{ form.username }}
        </div>
        <div class="input-field">
          <label>Enter your password</label>
          {{ form.password }}
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <div class="forget">
          <label for="remember">
            <input type="checkbox" name="remember" id="remember">
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <p>Remember me</p>
          </label>
          <a href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
        <button type="submit">Log In</button>
        <div class="register">
          <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
      </form>
      <form action="{% provider_login_url 'google' %}" method="get">
        <button type="submit">Войти через Google</button>
      </form>

    </div>
  </body>
</html>
