{% extends 'myapp/base.html' %}

{% block title %} New post{% endblock %}

----------------
{% block extra_css%}
    {% load static %}
    <link href="{% static 'new_post.css' %}" rel="stylesheet">
{% endblock %}

{% block navigation %}

  <li><button class="white-btn" onclick="location.href='/profile3'">PROFILE</button></li>

{% endblock %}

{% block content %}

<div class="wrapper">
  <div class="posts-container">
            <h2 >Make new post</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <h3>Add ap to 3 images</h3>
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form.as_p }}
                {% endfor %}
                <button type="submit">CREATE POST</button>
            </form>
  </div>
</div>

{% endblock %}