{% extends 'myapp/base.html' %}

{% block title%}Profile{% endblock %}

{% block extra_css%}
    {% load static %}
    <link href="{% static 'profile-feed.css' %}" rel="stylesheet">
{% endblock %}

{% block navigation %}
    {% if is_own_profile %}
    <li><button class="white-btn" onclick="location.href='/profile/edit'">EDIT PROFILE</button></li>
	{% else %}
	<li><button class="white-btn" onclick="location.href='/profile/'">MY PROFILE</button></li>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="profile_wrapper">
		<div class="profile-card">
			    <div class="avatar-container">
						{% if profile_owner.profile.avatar %}
							<img class="avatar" src="{{ profile_owner.profile.avatar.url }}" alt="Avatar">
						{% else %}
							<img class="avatar" src="https://res.cloudinary.com/dnctmhqcl/image/upload/default_avatar_gruuhe" alt="Default Avatar">
						{% endif %}
				</div>
				<div class="user-info">
					<h2 class="username">{{ profile_owner.username }}</h2>
					<p class="bio">{{ profile_owner.profile.bio | default:'Some profile text' }}</p>
				</div>
		</div>
		<div>
			{% if is_subscribed or is_own_profile %} {% else %}
			<div id="subscribe-cat-btn" style="width:120px; height:80px; cursor:pointer;"></div>
			{% endif %}
			{% if is_own_profile %}	{% else %}
			<button id="subscribe-btn"
				class="btn {% if is_subscribed %}btn-secondary{% else %}btn-primary{% endif %}"
				data-username="{{ profile_owner.username }}">
				{% if is_subscribed %}Subscribed{% else %}Subscribe{% endif %}
				<div id="subscribe-animation" style="position: absolute; pointer-events: none;"></div>
			</button>
			{% endif %}
		</div>
		<div class="posts-container">
			{% for post in posts %}
				<div class="post">
				  <div class="post-author">
					  <a href="/profile/{{ post.author.username }}" class="author-avatar">
						{% if post.author.profile.avatar %}
							<img src="{{ post.author.profile.avatar.url }}" alt="Avatar">
						{% else %}
							<img src="https://res.cloudinary.com/dnctmhqcl/image/upload/default_avatar_gruuhe" alt="Default Avatar">
						{% endif %}
					  </a>
					  <a href="/profile/{{ post.author.username }}" class="author-name">{{ post.author.username }}</a>
				  </div>
				  <p>{{ post.text }}</p>
				  <div class="tags-container">
						{% for tag in post.tags.all %}
							<span><a href="">{{ tag.name }}</a></span>
						{% empty %}
							<p></p>
						{% endfor %}
				  </div>
				  {% if post.images.all %}
				  {% for image in post.images.all %}
					<img src="{{ image.image.url }}" alt="Post Image " loading="lazy"/>
				  {% endfor %}
				  {% endif %}
					<div class="post-footer">
						<p>{{ post.created_at }}</p>
						<div class="like-button-container">
							<div id="like-button-{{ post.id }}" style="width:40px; height:40px; cursor:pointer;"></div>
							<a href="#" class="likes-count" onclick="showLikes({{ post.id }})">{{ post.likes.count }}</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<script src="{% static 'dist/bundle.js' %}"></script>
{% endblock %}
