<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  {% load static %}
  <link href="{% static 'styles.css' %}" rel="stylesheet">
  <link href="{% static 'registration.css' %}" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <form method="POST" id = "registration-form">
      <h2>Registration</h2>
      {% csrf_token %}

      <!-- username -->
      <div class="input-field">
            {% if form.username.errors %}
        <div class="error">
            {% for error in form.username.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
        <label>Enter username</label>
        <input type = "text" name = "username" id = "id_username" class = "custom-style" required>
      </div>


      <!-- Email -->
      <div class="input-field">
        <label>Enter your email</label>
        <input type = "email" name = "email" id = "id_email" class = "custom-style"
               pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
               title="Email must be in the format: example@domain.com"
               required>
      </div>

      <!-- Create Password -->
      <div class="input-field">
        <label>Create your password</label>
        <input type="password" name="password" id="id_password" class="custom-style" minlength="6" required>
      </div>

      <!-- Confirm Password -->
      <div class="input-field">
        <label>Confirm your password</label>
        <input type="password" name="confirm_password" id="id_confirm_password" class="custom-style" minlength="6" required>
      </div>
      <div id="passwordError" style="color: red;"></div>

      <button type="submit">Register</button>

      <!-- Register link (if the user already has an account) -->
      <div class="register">
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
      </div>
    </form>
  </div>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>
