        * {
              margin: 0;
              padding: 0;
              color: #E0FFFF;
              box-sizing: border-box;
              font-family: "Open Sans", sans-serif;
            }
        body {
            background-image: url('/static/images/bg1.jpg');
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            height: 100vh;
            margin: 0;
        }

        .welcome-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .welcome-box {
           width: 600px;
          border-radius: 8px;
          padding: 30px;
          text-align: center;
          border: 1px solid rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(9px);
          -webkit-backdrop-filter: blur(9px);
        }

        .welcome-box h1 {
            margin-bottom: 30px;
        }