@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:200");


/***************************MY STYLES********************************************/
body {
    color: white;
}

.header {
    color: white;
}

.footer {
    color: white;
}

p {
    color: white;
}

a {
    color: white;
}

.header {
    position: fixed;                /* Fix the panel at the top */
    top: 0;                         /* Attach to the top edge */
    left: 0;                        /* Attach to the left edge */
    width: 100%;                    /* Full width of the page */
    background: rgba(51, 51, 51, 0.2); /* Semi-transparent dark background */
    backdrop-filter: blur(10px);    /* Background blur */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px; /* Increased border radius for softness */
    margin-bottom: 0;    /* Remove bottom margin */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
    z-index: 1000;       /* To make the panel above the content */
}

.main-content {
    padding-top: 80px;   /* Add top padding so the content is not overlapped by the panel */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2); /* Light glow on hover */
    text-decoration: none;
}

.white-btn, .red-btn {
    background: rgba(255, 255, 255, 0.2); /* Transparent white background */
    backdrop-filter: blur(10px); /* Background blur */
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    color: white;
}

.white-btn:hover, .red-btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

/***************************MY STYLES********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  background-size: cover;
  background-repeat: no-repeat;
  animation: changeBackground 160s steps(1) infinite;
}

@keyframes changeBackground {
  0% {
    background-image: url('/static/images/profile_bg.jpg');}
